p {
    background-color: rgb(233, 111, 131);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.third {
    font-size: 24px;
}

#second {
    color: rgb(25, 25, 216);
    font-size: 36px;
}

#fourth {
    background-color: rgb(147, 220, 147);
    font-size: 24px;
    font-weight: bold;
}