body {
  background: #eee;
  font-family: sans-serif;
  text-align: left;
  }

.card {
  width: 400px;
  background: #fff;
  box-sizing: border-box;
  padding: 8px;
  }

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
  }

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24 px;
}